.coursecard {
    height: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 10px 5px $shadow;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    .image {
        width: 50%;
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    .details{
        flex: 1;
        margin-left: 5px;
        padding:10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        h6 {
            font-size: 16px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            color: $gray;
        }
        span.tags {
            background-color:#ffab3a;
            color: $white;
            font-size: 12px;
            padding: 1px 4px;
            border-radius: 5px;
            margin-bottom: 10px;
            &.isGreen {
                background-color: $green;
            }
        }
        span.registration{
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 12px;
        }
        .save {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            span {
                color: $red;
                font-size: 20px;
            }
        }
        .progress__bar {
            width: 100%;
            display: flex;
            align-items: center;
            .bar {
                flex: 1;
                background-color: $gray;
                height: 4px;
                border-radius: 4px;
                position: relative;
                .color {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    height: inherit;
                    border-radius: inherit;
                    background-color: #ffab3a;
                }
            }
            span {
                font-size: 14px;
                margin: 0%;
            }
        }
    }
}