@import "./fonts";

@import "./variables";

@import "./components/buttons";
@import "./components/navbar";
@import "./components/logo";
@import "./components/coursecard";
@import "./components/lessonscard";
@import "./components/sidebar";
@import "./components/links-card";
@import "./components/video-player";
@import "./components/report-message";
@import "./components/loader";

@import "./page/home";
@import "./page/search";
@import "./page/course.scss";
@import "./page/author";
@import "./page/watch";
@import "./page/create-course";
@import "./page/auth";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
}